extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis mattis lectus. Nam eleifend suscipit justo. Cras porttitor, eros vel consequat mollis, nunc enim auctor dui, id pulvinar massa quam nec diam. Aliquam ornare fringilla malesuada. Mauris vel pellentesque risus. Etiam lobortis metus vitae orci bibendum, eleifend consectetur ante consectetur. Morbi maximus massa id nibh pellentesque, quis vestibulum elit lacinia.

                p Vivamus faucibus lacus vel quam porta volutpat. Mauris orci turpis, scelerisque vulputate orci id, mattis placerat nunc. Aliquam diam tellus, pellentesque id ultrices vitae, dictum ac est.  Vestibulum sit amet facilisis metus, a varius lectus.

                p Sed dignissim, velit a interdum bibendum, urna ante gravida sapien, eu pulvinar purus magna ut turpis. Donec eu libero lacinia, molestie est et, tristique arcu. In volutpat lacinia dolor at sollicitudin. Duis vehicula sodales neque, sed blandit justo sodales et. Duis aliquam at enim id blandit. Sed laoreet purus sit amet quam viverra, sit amet molestie dui tristique. Cras ut condimentum enim. Curabitur pharetra at neque a tempor.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nobis ducimus dolores veniam. Magnam illo consequatur impedit? Voluptatum commodi, amet necessitatibus accusamus sed iusto laborum fugit facilis quidem culpa at?

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nobis ducimus dolores veniam. Magnam illo consequatur impedit? Voluptatum commodi, amet necessitatibus accusamus sed iusto laborum fugit facilis quidem culpa at?

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nobis ducimus dolores veniam. Magnam illo consequatur impedit? Voluptatum commodi, amet necessitatibus accusamus sed iusto laborum fugit facilis quidem culpa at?
